#container {
    width: 600px;
    margin-top: 30px;
}

body {
    background-color: #FFFDD0;
    display: flex;
    margin: 0;
    justify-content: space-around;
}

.menu {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sliderContainer,
.eraseContainer {
    font-family: "Poetsen One", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.slider {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 10px;
    outline: none;
    opacity: 1.0;
    background: #d3d3d3;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 25px;
    height: 25px; 
    background: #04AA6D;
    border-radius: 15px;
  }

h1 {
    font-family: "Grenze Gotisch", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 50px;
    font-style: normal;
}

.eraseButton {
    background-color: #0096FF; 
    border: none;
    width: 70px;
    height: 70px;
    border-radius: 15px;
}