#container {
    width: 600px;
}

body {
    display: flex;
    margin: 0;
    justify-content: space-around;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}